<!DOCTYPE html>
<!-- Ng-App -->
<html lang="en" ng-app="main">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Tags -->
  <meta name="description" content="Follower Announcer">
  <meta name="keywords" content="follower announcer, twitch, overwolf, live streaming, gaming, esports">
  <meta name="author" content="William Cook">
  <title>Follower Announcer</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/avatar-celebration-dance.css" rel="stylesheet">
</head>

<body ng-controller="FollowController" class="container">

  <header class="chroma-key">

    <div>
      <h1 id="alert">Follow my channel!</h1>
    </div>

  </header>



  <main>

    <div>

      <div>
        <input type="text" placeholder="Example: cohhcarnage" ng-model="channel">
      </div>

      <div>
        <p><span ng-bind="channel"></span> got a follow from:</p>
      </div>

      <div>
        <p ng-repeat="follower in followerList" ng-bind="follower.name"></p>
      </div>

    </div>

  </main>



  <footer>

    <div>
      <p>Enter your channel name in the box to get alerts.</p>
    </div>

    <div>
      <small>Copyright &copy 2015 William Cook</small>
    </div>

  </footer>



  <!-- Libs -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

  <!-- Twitch Init -->
  <script>
  Twitch.init({clientId: 'dsuhxputoo00pzdxlfrqh8kenmfsy88'}, function(error, status) {

    // the sdk is now loaded
    console.log("twitch init status: " + JSON.stringify(status));

  });
  </script>

  <!-- App -->
  <script type="text/javascript" src="js/main.js"></script>

  <!-- Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
